@model IEnumerable<Project6.Models.ApplicationUser>

@{
    ViewBag.Title = "Home Page";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <h2>Hello @User.Identity.GetUserName()</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>WhatINoted.com</h2>
}